body{
  margin: 0;
  border:0;
  padding: 0;
  line-height:0;
}
div{
  height:78px;
  width:78px;
  background-color:#B4EE5A;
  display: inline-block;
  border-width: thin;
  border-color: black;
  border-style:solid;
}
